.stickyCardData {
    display: flex;
    flex-wrap: wrap;
    
    z-index: 30;
    position: absolute;
    padding: 5vw;
    position: absolute;
    left: 10%;
    top: 25%;
    width: 100vw;
}


.modal-backdrop{
    z-index: 10;
}


.stickyCardData .card .modal-content{
    z-index: 60
}


.stickyCardData .card{
    opacity: 60%;
    align-items: center;
    padding: 0.5vw;
    width: 7vw;
    height: 8vw;
    margin:2vw;
    margin-right: 20vw;
}




.stickyCardData :hover{
    opacity: 100%;
    transition-duration: 150ms;
    cursor: pointer;
    
    
}


.stickyCardData .card-body{
    /* background-color: black; */
    color: black;
    padding: 0;
}

.stickyCardData .card .card-title{
    text-align: center;
    font-size: 1em;
    width: auto;
    
    font-weight: 600;
}
.stickyCardData .card .card-text{
    font-size: 1vw;
}


.stickyCardData .card-img-top{
    padding: 1vw;
    background-color: black;
    margin-bottom: 0;

}



.cardModal{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(8px);
}

.cardModal .dialoge{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 40vw;
    border-radius: 2%;
    padding: 1.5vw;

    animation: modalAnimation ease-in-out 0.5s;
}




.cardModal .dialoge .image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;


}

.cardModal .image h1{
    border-bottom: 2px solid white;
    margin-top: 1vw;
    font-size: 2.5vw;
    color:rgb(220, 215, 215);
    font-weight: 600;
}

.cardModal .image p{
    margin-top: 1.3vw;
    font-size: 1.3vw;
    color:white;
    font-weight: 600;
}

.cardModal img{
    width: 12vw;
}

.cardModal .score{
    display: flex;
    justify-content: space-between;
}

.cardModal .score h1{
    color: white;
    font-weight: 600;
    font-size: 1.7vw;
    
}



.cardModal .score span{
    display: flex;
    margin: 2vw;
    flex-direction: column;
    align-items: center;

}


@keyframes modalAnimation {
    from{opacity: 0%;}
    to{opacity: 100%;}
    
}